<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Title of the document</title>
    <!-- Material Icon CDN -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS CDN -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Your custom styles -->
      <link rel="stylesheet" href="css/style.css">
    <!-- Used as an example only to position the footer at the end of the page.
    You can delete these styles or move it to your custom css file -->
    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        }
      main {
        flex: 1 0 auto;
      }
    </style>
  </head>
  <body class="purple lighten-1">
     <div class="container">
         <div class="row">
             <div class="col s12 center align">
                <img width="250px" src="https://cdn.pixabay.com/photo/2015/03/26/09/54/pug-690566_960_720.jpg" alt="" class=" circle responsive-img"/>
             </div>
             <div class="row">
                <div class="col s12 center align">
                  <h2 class="white-text"><%=name%></h2>
                </div>

             
         </div>
       <div class="row">
        <div class="col s4">
            <div class="card-panel red">
                <span class="white-text">Health</span>
                <span class="white-text"><%=get('health')%></span>
            </div>
          </div>
          <div class="col s4">
            <div class="card-panel blue">
                <span class="white-text">Purity</span>
                <span class="white-text"><%= get('purity')%></span>
            </div>
          </div>
          <div class="col s4 ">
            <div class="card-panel green ">
                <span class="white-text">Stamina</span>
                <span class="white-text"><%= get('stamina')%></span>
            </div>

            
          </div>
          
        </div>
        
        <div class="row">
            <div class="col s4">
                <div class="card-panel indigo">
                    <span class="white-text">Sleeping</span>
                <span class="white-text"><%=get('sleep')%></span>
                </div>
              </div>
              <div class="col s4">
                <div class="card-panel pink">
                <span class="white-text">Mood</span>
                <span class="white-text"><%= get('mood')%></span>
                </div>
              </div>
              <div class="col s4 ">
                <div class="card-panel orange">
                  <span class="white-text">Agility</span>
                  <span class="white-text"><%= get('agility')%></span>
                </div>
    
                
              </div>
              
            </div>
            
            <div class="row">
                <div class="col s4">
                    <div class="card-panel green accent-3">
                        <span class="white-text">Intelect</span>
                        <span class="white-text"><%= get('intelect')%></span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel cyan">
                        <span class="white-text">Hunger</span>
                        <span class="white-text"><%= get('hunger')%></span>
                    </div>
                  </div>
                  <div class="col s4 ">
                    <div class="card-panel deep-orange">
                        <span class="white-text">Speed</span>
                        <span class="white-text"><%= get('speed')%></span>
                    </div>
        
                    
                  </div>
                  
                </div>
                <form action = "/change"method = "get">
                <div class="row align center">
                    <button class="waves-effect waves-light btn red" name="hunger" value="hunger">feed</button>
                    <button class="waves-effect waves-light btn blue"name="purity" value="purity">wash</button>
                    <button class="waves-effect waves-light btn pink" name="mood" value="mood">play</button>
                    <button class="waves-effect waves-light btn deep-orange"name="stamina" value="stamina">train</button>
                    <button class="waves-effect waves-light btn green" name="speed" value="speed">walk</button>
                    <button class="waves-effect waves-light btn indigo"name="intelect" value="intelect">search</button>
                    <button class="waves-effect waves-light btn orange">spectate</button>  
                    <button class="waves-effect waves-light btn brown">voice</button>
                    <button class="waves-effect waves-light btn cyan" name="sleep" value="sleep">sleep</button>                                  
                </div>
                </form>
        </div>
        </div>
       </div>
     </div>
    
    <!-- jQuery CDN -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Materialize JS CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

   
  </body>
</html>